body {
  background-color: rgb(255, 255, 255);
}

*{
  box-sizing: border-box;
}

.js-ph-wrapper{
  display: flex;
  justify-content: space-around;
  padding-bottom: 50px;



}

.operatory{
  display: flex;
 flex-direction: column;
}

.mood{
 //border: 1px solid black;
 padding: 25px;
 border-radius: 5px;
 width: 350px;
 display: flex;
 flex-direction: column;
 background-color: #f0f0f048;
 box-shadow: 5px 2px 2px grey;
}

.text1{
font-size: 40px;
text-align: center;
color:  rgb(81, 134, 135);;
}

.text2{
font-size: 20px;
text-align: center;
color: rgb(81, 134, 135);
}

.js-moods-delete{
 background-color: transparent;
 border: 1px solid grey;
border: none;
color: rgb(81, 134, 135);
}
.image{
  display: flex;
  justify-content: center;
}

.js-mood-form{
 display: flex;
 align-items: center;
flex-direction: column;
}
.js-upload-input{
  align-self: center;
  padding-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f5f5f5;
  color: #333;
  font-size: 20px;
  width: 200px;
}
.addmood, .description, .js-add-button{
  align-self: center;
  font-size: 20px;
  border-radius: 5px;
  background-color: #f0f0f048;
}
.js-add-button{
  margin-top: 40px;
  background-color: #c7c7c724;
  color: rgb(81, 134, 135);
  font-size: 20px;
}
.maintext{
  text-align: center;
  color:  rgb(81, 134, 135);
}

.textp{
  text-align: center;
  padding-left: 150px;
  padding-right: 150px;
 color:  rgb(81, 134, 135);
}
.date{
  justify-content: flex-end;
  font-size: 10px;
  color:rgb(81, 134, 135); ;
  padding-top: 10px;
  align-self: flex-end;
}